<style>
   .oj-flex-items-pad {margin-bottom: 35px}
   h3 {font-weight: bold}
   #selectRegion input {font-weight: bold;font-size:16px}
   h3 span {font-weight: 100}
 </style>
<div class="oj-flex-items-pad">
  <div class="oj-flex oj-md-align-items-left">
    <div class="oj-flex-item oj-sm-flex-wrap-nowrap" style="line-height: 30px">
      <span>Select or Type The Region To Show:</span>
      <oj-select-single id="selectRegion" data="[[dataProviderStates]]" value="[[stateSelected]]" label-hint="enabled" on-value-changed="[[valueChangedHandler]]" on-click="[[onClickHandler]]"></oj-select-single>
    </div>
  </div>
</div>

<div>
  <div>
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-md-6 oj-flex-item">
        <h3>Daily New Cases [<span data-bind="text: latestNum('positiveIncrease')"></span>]</h3>
        <p>Positive cases reported for a day</p>
        <oj-chart id="comboChart" type="combo" selection-mode="none" data="[[dataProviderDailyNewCases]]" animation-on-display="auto"
          animation-on-data-change="auto" hover-behavior="dim"
          style="width:100%;"
          legend.position="bottom"
          time-axis-type="enabled" zoom-and-scroll="liveScrollOnly" overview.rendered="on" overview.height="25"
          x-axis="[[xAxisOptions]]">
          
          <template slot="itemTemplate" data-oj-as="item">
            <oj-chart-item value="[[item.data.value]]" group-id="[[ [item.data.group] ]]" series-id="[[item.data.series]]" label="[[!item.data.label ? '' : item.data.label.toString()]]">
            </oj-chart-item>
          </template>
          <template slot="seriesTemplate" data-oj-as="series">
            <oj-chart-series type="[[ series.id.indexOf('Average') === -1 ? 'bar' : 'line' ]]" color="[[series.id.indexOf('Average') === -1 ? '#f9c74f' : '#0fe60a']]">
            </oj-chart-series>
          </template>
        </oj-chart>
      </div>
      <div class="oj-md-6 oj-flex-item">
        <h3>Daily Death [<span data-bind="text: latestNum('deathIncrease')"></span>]</h3>
        <p>Death related to Covid-19 reported for a day</p>
        <oj-chart id="comboChart5" type="combo" selection-mode="none" data="[[dataProviderDailyNewDeath]]" animation-on-display="auto"
          animation-on-data-change="auto" hover-behavior="dim" style="width:100%;" legend.position="bottom" time-axis-type="enabled"
          zoom-and-scroll="liveScrollOnly" overview.rendered="on" overview.height="25" style-defaults.data-label-position="belowMarker"
          x-axis="[[xAxisOptions]]">
        
          <template slot="itemTemplate" data-oj-as="item">
            <oj-chart-item value="[[item.data.value]]" group-id="[[ [item.data.group] ]]" series-id="[[item.data.series]]"
              label="[[!item.data.label ? '' : item.data.label.toString()]]">
            </oj-chart-item>
          </template>
          <template slot="seriesTemplate" data-oj-as="series">
            <oj-chart-series type="[[ series.id.indexOf('Average') === -1 ? 'bar' : 'line' ]]" color="[[series.id.indexOf('Average') === -1 ? '#f94144' : '#0fe60a']]">
            </oj-chart-series>
          </template>
        </oj-chart>
      </div>
    </div>

    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-md-6 oj-flex-item">
        <h3>Daily New Tests [<span data-bind="text: latestNum('totalTestResultsIncrease')"></span>]</h3>
        <p>Tests (negative + positive) reported for a day</p>
        <oj-chart id="comboChart2" type="combo" selection-mode="none" data="[[dataProviderDailyNewTests]]" animation-on-display="auto"
          animation-on-data-change="auto" hover-behavior="dim" style="width:100%;" legend.position="bottom" time-axis-type="enabled"
          zoom-and-scroll="liveScrollOnly" overview.rendered="on" overview.height="25" 
          x-axis="[[xAxisOptions]]">
        
          <template slot="itemTemplate" data-oj-as="item">
            <oj-chart-item value="[[item.data.value]]" group-id="[[ [item.data.group] ]]" series-id="[[item.data.series]]"
              label="[[!item.data.label ? '' : item.data.label.toString()]]">
            </oj-chart-item>
          </template>
          <template slot="seriesTemplate" data-oj-as="series">
            <oj-chart-series type="[[ series.id.indexOf('Average') === -1 ? 'bar' : 'line' ]]" color="[[series.id.indexOf('Average') === -1 ? '#577590' : '#0fe60a']]">
            </oj-chart-series>
          </template>
        </oj-chart>
      </div>
      <div class="oj-md-6 oj-flex-item">
        <h3>Daily New Case / Daily Tests [<span data-bind="text: latestNum('newPositivePct')"></span>]</h3>
        <p>Percentage of positives out of all tests in a day, a key metric to evaluate the trend</p>
        <oj-chart id="comboChart3" type="combo" selection-mode="none" data="[[dataProviderDailyNewCasePct]]"
          animation-on-display="auto" animation-on-data-change="auto" hover-behavior="dim" style="width:100%;" legend.position="bottom"
          time-axis-type="enabled" zoom-and-scroll="liveScrollOnly" overview.rendered="on" overview.height="25" 
          x-axis="[[xAxisOptions]]">
        
          <template slot="itemTemplate" data-oj-as="item">
            <oj-chart-item value="[[item.data.value]]" group-id="[[ [item.data.group] ]]" series-id="[[item.data.series]]"
              label="[[!item.data.label ? '' : item.data.label.toString()]]">
            </oj-chart-item>
          </template>
          <template slot="seriesTemplate" data-oj-as="series">
            <oj-chart-series type="[[ series.id.indexOf('Average') === -1 ? 'bar' : 'line' ]]" color="[[series.id.indexOf('Average') === -1 ? '#90be6d' : '#0fe60a']]">
            </oj-chart-series>
          </template>
        </oj-chart>
      </div>
    </div>


    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-md-4 oj-flex-item">
        <h3>Total Cases [<span data-bind="text: latestNum('positive')"></span>]</h3>
        <p>Total cumulative positve cases</p>
        <oj-chart id="comboChart3" type="combo" selection-mode="none" data="[[dataProviderTotalCases]]" animation-on-display="auto"
          animation-on-data-change="auto" hover-behavior="dim" style="width:100%;" legend.position="bottom" time-axis-type="enabled"
          zoom-and-scroll="liveScrollOnly" overview.rendered="on" overview.height="25" 
          x-axis="[[xAxisOptions]]">
        
          <template slot="itemTemplate" data-oj-as="item">
            <oj-chart-item value="[[item.data.value]]" group-id="[[ [item.data.group] ]]" series-id="[[item.data.series]]"
              label="[[!item.data.label ? '' : item.data.label.toString()]]">
            </oj-chart-item>
          </template>
          <template slot="seriesTemplate" data-oj-as="series">
            <oj-chart-series type="[[ series.id.indexOf('Average') === -1 ? 'bar' : 'line' ]]" color="[[series.id.indexOf('Average') === -1 ? '#43aa8b' : '#0fe60a']]">
            </oj-chart-series>
          </template>
        </oj-chart>
      </div>
      <div class="oj-md-4 oj-flex-item">
        <h3>Total Death [<span data-bind="text: latestNum('death')"></span>]</h3>
        <p>Total cumulative death</p>
        <oj-chart id="comboChart6" type="combo" selection-mode="none" data="[[dataProviderTotalDeath]]" animation-on-display="auto"
          animation-on-data-change="auto" hover-behavior="dim" style="width:100%;" legend.position="bottom" time-axis-type="enabled"
          zoom-and-scroll="liveScrollOnly" overview.rendered="on" overview.height="25" 
          x-axis="[[xAxisOptions]]">
      
          <template slot="itemTemplate" data-oj-as="item">
            <oj-chart-item value="[[item.data.value]]" group-id="[[ [item.data.group] ]]" series-id="[[item.data.series]]"
              label="[[!item.data.label ? '' : item.data.label.toString()]]">
            </oj-chart-item>
          </template>
          <template slot="seriesTemplate" data-oj-as="series">
            <oj-chart-series type="[[ series.id.indexOf('Average') === -1 ? 'bar' : 'line' ]]" color="[[series.id.indexOf('Average') === -1 ? '#f3722c' : '#0fe60a']]">
            </oj-chart-series>
          </template>
        </oj-chart>
      </div>
      <div class="oj-md-4 oj-flex-item">
        <h3>Total Tests [<span data-bind="text: latestNum('totalTestResults')"></span>]</h3>
        <p>Total cumulative tests</p>
        <oj-chart id="comboChart" type="combo" selection-mode="none" data="[[dataProviderTotalTests]]" animation-on-display="auto"
          animation-on-data-change="auto" hover-behavior="dim" style="width:100%;" legend.position="bottom" time-axis-type="enabled"
          zoom-and-scroll="liveScrollOnly" overview.rendered="on" overview.height="25" 
          x-axis="[[xAxisOptions]]">
        
          <template slot="itemTemplate" data-oj-as="item">
            <oj-chart-item value="[[item.data.value]]" group-id="[[ [item.data.group] ]]" series-id="[[item.data.series]]"
              label="[[!item.data.label ? '' : item.data.label.toString()]]">
            </oj-chart-item>
          </template>
          <template slot="seriesTemplate" data-oj-as="series">
            <oj-chart-series type="[[ series.id.indexOf('Average') === -1 ? 'bar' : 'line' ]]" color="[[series.id.indexOf('Average') === -1 ? '#43aa8b' : '#0fe60a']]">
            </oj-chart-series>
          </template>
        </oj-chart>
      </div>
    </div>
    
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-md-6 oj-flex-item">
        <h3>Daily New Cases / Total Cases [<span data-bind="text: latestNum('newPositivePctTotal')"></span>]</h3>
        <p>Percentage of new daily postive tests in all cumulative cases</p>
        <oj-chart id="comboChart" type="combo" selection-mode="none" data="[[dataProviderDailyNewCasePctTotal]]"
          animation-on-display="auto" animation-on-data-change="auto" hover-behavior="dim" style="width:100%;" legend.position="bottom"
          time-axis-type="enabled" zoom-and-scroll="liveScrollOnly" overview.rendered="on" overview.height="25" 
          x-axis="[[xAxisOptions]]">
        
          <template slot="itemTemplate" data-oj-as="item">
            <oj-chart-item value="[[item.data.value]]" group-id="[[ [item.data.group] ]]" series-id="[[item.data.series]]"
              label="[[!item.data.label ? '' : item.data.label.toString()]]">
            </oj-chart-item>
          </template>
          <template slot="seriesTemplate" data-oj-as="series">
            <oj-chart-series type="[[ series.id.indexOf('Average') === -1 ? 'bar' : 'line' ]]" color="[[series.id.indexOf('Average') === -1 ? '#577590' : '#0fe60a']]">
            </oj-chart-series>
          </template>
        </oj-chart>
      </div>
      <div class="oj-md-6 oj-flex-item">
        <h3>Death Rate - Total Death / Total Cases [<span data-bind="text: latestNum('deathRate')"></span>]</h3>
        <p>Percentage of death cases within all positive tests</p>
        <oj-chart id="comboChart6" type="combo" selection-mode="none" data="[[dataProviderDeathRate]]" animation-on-display="auto"
          animation-on-data-change="auto" hover-behavior="dim" style="width:100%;" legend.position="bottom" time-axis-type="enabled"
          zoom-and-scroll="liveScrollOnly" overview.rendered="on" overview.height="25" 
          x-axis="[[xAxisOptions]]">
        
          <template slot="itemTemplate" data-oj-as="item">
            <oj-chart-item value="[[item.data.value]]" group-id="[[ [item.data.group] ]]" series-id="[[item.data.series]]"
              label="[[!item.data.label ? '' : item.data.label.toString()]]">
            </oj-chart-item>
          </template>
          <template slot="seriesTemplate" data-oj-as="series">
            <oj-chart-series type="[[ series.id.indexOf('Average') === -1 ? 'bar' : 'line' ]]" color="[[series.id.indexOf('Average') === -1 ? '#f8961e' : '#0fe60a']]">
            </oj-chart-series>
          </template>
        </oj-chart>
      </div>
    </div>

    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-md-4 oj-flex-item">
        <h3>Daily New Hospitalized [<span data-bind="text: latestNum('hospitalizedIncrease')"></span>]</h3>
        <p>Reported added hospitalization in a day</p>
        <oj-chart id="comboChart5" type="combo" selection-mode="none" data="[[dataProviderDailyNewHospitalized]]"
          animation-on-display="auto" animation-on-data-change="auto" hover-behavior="dim" style="width:100%;"
          legend.position="bottom" time-axis-type="enabled" zoom-and-scroll="liveScrollOnly" overview.rendered="on" overview.height="25"
          x-axis="[[xAxisOptions]]">
    
          <template slot="itemTemplate" data-oj-as="item">
            <oj-chart-item value="[[item.data.value]]" group-id="[[ [item.data.group] ]]" series-id="[[item.data.series]]" label="[[!item.data.label ? '' : item.data.label.toString()]]">
            </oj-chart-item>
          </template>
          <template slot="seriesTemplate" data-oj-as="series">
            <oj-chart-series type="[[ series.id.indexOf('Average') === -1 ? 'bar' : 'line' ]]" color="[[series.id.indexOf('Average') === -1 ? '#f9c74f' : '#0fe60a']]">
            </oj-chart-series>
          </template>
        </oj-chart>
      </div>
      <div class="oj-md-4 oj-flex-item">
        <h3>Currently Hospitalized [<span data-bind="text: latestNum('hospitalizedCurrently')"></span>]</h3>
        <p>Total hospitalization - total discharged</p>
        <oj-chart id="comboChart6" type="combo" selection-mode="none" data="[[dataProviderCurrentlyHospitalized]]"
          animation-on-display="auto" animation-on-data-change="auto" hover-behavior="dim" style="width:100%;"
          legend.position="bottom" time-axis-type="enabled" zoom-and-scroll="liveScrollOnly" overview.rendered="on" overview.height="25"
          style-defaults.data-label-position="belowMarker" 
          x-axis="[[xAxisOptions]]">
    
          <template slot="itemTemplate" data-oj-as="item">
            <oj-chart-item value="[[item.data.value]]" group-id="[[ [item.data.group] ]]" series-id="[[item.data.series]]" label="[[!item.data.label ? '' : item.data.label.toString()]]">
            </oj-chart-item>
          </template>
          <template slot="seriesTemplate" data-oj-as="series">
            <oj-chart-series type="[[ series.id.indexOf('Average') === -1 ? 'bar' : 'line' ]]" color="[[series.id.indexOf('Average') === -1 ? '#f3722c' : '#0fe60a']]">
            </oj-chart-series>
          </template>
        </oj-chart>
      </div>
      <div class="oj-md-4 oj-flex-item">
        <h3>Currently In ICU [<span data-bind="text: latestNum('inIcuCurrently')"></span>]</h3>
        <p>Patients currently in ICU</p>
        <oj-chart id="comboChart6" type="combo" selection-mode="none" data="[[dataProviderCurrentlyInICU]]"
          animation-on-display="auto" animation-on-data-change="auto" hover-behavior="dim" style="width:100%;"
          legend.position="bottom" time-axis-type="enabled" zoom-and-scroll="liveScrollOnly" overview.rendered="on" overview.height="25"
          style-defaults.data-label-position="belowMarker" 
          x-axis="[[xAxisOptions]]">
      
          <template slot="itemTemplate" data-oj-as="item">
            <oj-chart-item value="[[item.data.value]]" group-id="[[ [item.data.group] ]]" series-id="[[item.data.series]]"
              label="[[!item.data.label ? '' : item.data.label.toString()]]">
            </oj-chart-item>
          </template>
          <template slot="seriesTemplate" data-oj-as="series">
            <oj-chart-series type="[[ series.id.indexOf('Average') === -1 ? 'bar' : 'line' ]]" color="[[series.id.indexOf('Average') === -1 ? '#f94144' : '#0fe60a']]">
            </oj-chart-series>
          </template>
        </oj-chart>
      </div>
    </div>

  </div>
</div>
</div>